In [1]:
#First install the Selenium

!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.2.0)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [2]:
#import all required libraries 
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
import time
from selenium.webdriver.common.keys import Keys

# Q10: Write a python program to scrape the salary data for Data Scientist designation

You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. 
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and 
then click on “Data Scientist”.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average 
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [3]:
driver = webdriver.Chrome('C:\Webb Driver\chromedriver.exe')

In [4]:
driver.maximize_window()

In [5]:
driver.get('https://www.ambitionbox.com/')
time.sleep(2)

In [6]:
click_on_salaries = driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
click_on_salaries.click()
time.sleep(3)

In [7]:
search_item = driver.find_element_by_xpath("//input[@class='tt-input']")
search_item.send_keys("Data Scientist")
time.sleep(1)

In [8]:
click_search_button = driver.find_element_by_xpath("//p[@class='tt_text']")
click_search_button.click()
time.sleep(3)

In [9]:
Company_name = []
Total_Salary_Records = []
Average_Salary = []
Minimum_Salary = []
Maximum_Salary = []

company_name = driver.find_elements_by_xpath("//div[@class='name']/a")
salary_records = driver.find_elements_by_xpath("//div[@class='name']/span")
avg_salary = driver.find_elements_by_xpath("//p[@class='averageCtc']")
min_salary = driver.find_elements_by_xpath("//div[@class='salary-values']")
max_salary = driver.find_elements_by_xpath("//div[@class='salary-values']")

for i in company_name : Company_name.append(i.text)
for i in salary_records: Total_Salary_Records.append(i.text)
for i in avg_salary : Average_Salary.append(i.text)
for i in min_salary : Minimum_Salary.append(i.text.split("\n")[0])    
for i in max_salary : Maximum_Salary.append(i.text.split("\n")[1])

In [10]:
print(len(Company_name),len(Total_Salary_Records),len(Average_Salary),len(Minimum_Salary),len(Maximum_Salary))

10 10 10 10 10

In [11]:
Salary = pd.DataFrame({'Company_name':Company_name,'Total_Salary_Records':Total_Salary_Records,'Average_Salary':Average_Salary,'Minimum_Salary':Minimum_Salary,'Maximum_Salary':Maximum_Salary})
Salary

,Company_name,Total_Salary_Records,Average_Salary,Minimum_Salary,Maximum_Salary
0,Walmart,based on 12 salaries,₹ 30.2L,₹ 25.0L,₹ 36.0L
1,Ab Inbev,based on 33 salaries,₹ 20.6L,₹ 15.0L,₹ 25.5L
2,American Express,based on 10 salaries,₹ 19.9L,₹ 14.1L,₹ 25.0L
3,ZS,based on 15 salaries,₹ 16.7L,₹ 11.0L,₹ 22.0L
4,Optum,based on 33 salaries,₹ 16.1L,₹ 11.0L,₹ 22.6L
5,Reliance Jio,based on 21 salaries,₹ 15.7L,₹ 5.6L,₹ 26.2L
6,Fractal Analytics,based on 83 salaries,₹ 15.4L,₹ 10.0L,₹ 22.0L
7,Tiger Analytics,based on 50 salaries,₹ 14.8L,₹ 9.0L,₹ 20.0L
8,UnitedHealth,based on 57 salaries,₹ 14.0L,₹ 8.3L,₹ 21.1L
9,EXL Service,based on 10 salaries,₹ 13.3L,₹ 8.9L,₹ 21.0L